<table class="table table-bordered">
  <thead>
    <tr>
      <th>Original url</th>
      <th>Short url</th>
    </tr>
  </thead>

  <tbody>
    <% @shortened_urls.each do |shortened_url| %>
      <tr>
        <td><%= link_to "#{shortened_url.url}", "#{shortened_url.url}", target: '_blank' %></td>
        <td><%= link_to "#{create_url(request.host, shortened_url.unique_key)}", "/#{shortened_url.unique_key}", target: '_blank' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to new_shortened_url_path do %>
    <!--<button type="button" class="btn btn-success">New Link</button>-->
<%# end %>
